<div class="flowersHtml">


<h1>Available Flowers</h1>

<section id="sortButtons">
  <p>sort by</p>
  <button type="button" name="price"></button>
  <button type="button" name="class"></button>
  <button type="button" name="color"></button>
</section>

<section id="flowersDisplay">
  <div class="flowerImages">
    <img ng-repeat="sample in samples" class="flowersThumb"
      ng-src="style/content/img/flowers/{{sample.image}}.png"
      ng-click="displayFlowerModal()" />
  </div>
</section>

</div>


<!--

<div
  bn-modals
  ng-show="subview"
  class="m-modals"
  ng-switch="subview">

  <div
      ng-switch-when="alert"
      ng-controller="AlertModalController"
      class="modal">

      <p>
          {{ message }}
      </p>

      <p>
          <a ng-click="close()">Ok, I got it!</a>
      </p>

      <p>
          <a ng-click="jumpToConfirm()" class="jump">Jump over to the confirm modal</a>
      </p>

  </div>
</div>-->
