<h1>flower database</h1>

<section id="movieFlower">
  <h1>Submit a Flower</h1>
  <form id="flowerForm" name="flowerForm">
    <input type="text" id="currentFlowerName" name="name" placeholder="flower name"
    ng-model="currentFlower.name" />

    <textarea type="text" id="currentFlowerDescription" name="description"
    placeholder="description" ng-model="currentFlower.description"></textarea>

    <textarea type="text" id="currentFlowerSymbolism" name="symbolism"
    placeholder="symbolism" ng-model="currentFlower.symbolism"></textarea>

    <textarea type="text" id="currentFlowerColorMeaning" name="colorMeaning"
    placeholder="color meaning" ng-model="currentFlower.colorMeaning"></textarea>

    <input type="text" id="currentFlowerImage" name="image"
    placeholder="image file" ng-model="currentFlower.image"  />

    <button ng-click="submitCurrentFlower()">Submit</button>
</section>

<section id="flowerList">
  <table id="flowerTable">
    <thead>
      <tr>
        <th>Delete</th>
        <th>Flower</th>
        <th>Description</th>
        <th>Symbolism</th>
        <th>Color Meaning</th>
        <th>Image</th>
      </tr>
    </thead>
    <tr ng-repeat="flower in flowers">
      <td><button id="deleteFlowerButton" type="button" name="deleteFlower"
        ng-click="deleteFlower(flower._id)">delete</button></td>
      <td>{{flower.name | limitTo: 100}}</td>
      <td>{{flower.description | limitTo: 100}}</td>
      <td>{{flower.symbolism | limitTo: 100}}</td>
      <td>{{flower.colorMeaning | limitTo: 100}}</td>
      <td id="tableImage"><img ng-src="style/content/img/thumb/{{flower.image}}.png" /></td>
    </tr>
  </table>
</section>
